
{% extends 'layout' %}
{% block main %}
  {% include 'components/breadcrumbs' %}
  <h1 class="h3">Your cart</h1>
  <div id="cart-root" data-currency="$"></div>
  <a class="btn btn-success mt-3" href="/checkout">Proceed to checkout</a>
{% endblock %}
