
<nav aria-label="Breadcrumb" class="mb-3">
  <ol class="breadcrumb m-0">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    {% if page.name %}<li class="breadcrumb-item active" aria-current="page">{{ page.name }}</li>{% endif %}
  </ol>
</nav>
